/* general */

body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-kPgNdkDNFWsbhwwFRPat0sP7gvlw0GGQw4orn6E6ICOPG57CaGkCndnhdH-frEllUEw&usqp=CAU");
    font-family: "Noto Sans JP", sans-serif;
    margin-left: 45px;
    margin-right: 45px;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}


/* nav */

.logo {
    width: fit-content;
}

nav {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    margin-left: 0px;
    padding-left: 0px;
    width: auto;
}

nav li {
    font-size: 18px;
    margin-right: 20px;
    font-weight: 700;
    color: #3b46d4;
    letter-spacing: 1px;
    display: inline;
    justify-content: space-between;
    cursor: pointer;
}

nav li:hover {
    color: black;
    transition: 1s;
    text-decoration: none;
}

.navegador {
    display: flex;
    flex-direction: row;
}

.tinchos {
    font-size: 22px;
    font-weight: 700;
    color: #6845f6;
}

.contactanos {
    font-size: 30px;
    color: black;
}


/* contenedor1 */

.contenedor1 {
    background-image: url("resources/montañas1.jpg");
    opacity: 90%;
    border-radius: 20px;
    height: 280px;
    width: auto;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.contenedor1 h2 {
    font-size: 18px;
}

.infopers {
    background-color: transparent;
    width: 180px;
    height: 180px;
    margin-top: 20px;
}

.foto {
    width: 150px;
    height: 150px;
    opacity: 150%;
    border-radius: 80px;
    margin-top: 20px;
    cursor: pointer;
    object-fit: cover;
}

.foto:hover {
    transform: scale(1.05);
    transition: 0.6s;
    filter: brightness(0.9);
}


/* contenedor2 */

.contenedor2 {
    background: rgba(59, 150, 212, 0.6);
    height: auto;
    width: auto;
    color: #3b46d4;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
}

.contenedor2 h2 {
    margin-top: 30px;
}


/* contenedor3  */

.contenedor3 {
    background: rgba(59, 150, 212, 0.6);
    height: auto;
    width: auto;
    margin-top: 10px;
    color: #3b46d4;
    border-radius: 20px;
    padding: 15px;
}

.contenedor3 h2 {
    margin-left: 50px;
}

.contenedor3 p {
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 7px;
}


/* contenedor programas */

.contenedorprogramas {
    background: rgba(59, 150, 212, 0.6);
    height: auto;
    margin-top: 10px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    height: fit-content;
    border-radius: 20px;
}

.fotoprogramas {
    width: 130px;
    height: 110px;
    border-radius: 50px;
    object-fit: scale-down;
    background-color: white;
    justify-content: space-between;
}

.fotoprogramasc {
    width: 130px;
    height: 110px;
    border-radius: 50px;
    object-fit: scale-down;
    background-color: #151515;
}

.fotoprogramasm {
    width: 130px;
    height: 110px;
    border-radius: 50px;
    object-fit: scale-down;
    background-color: #ffc531;
}

.fotoprogramasb {
    width: 130px;
    height: 110px;
    border-radius: 50px;
    object-fit: scale-down;
    background-color: #f2f2f2;
}

.fotoprogramas:hover {
    transform: scale(1.15);
    transition: 0.6s;
    filter: brightness(0.9);
}

.fotoprogramasc:hover {
    transform: scale(1.15);
    transition: 0.6s;
    filter: brightness(0.9);
}

.fotoprogramasm:hover {
    transform: scale(1.15);
    transition: 0.6s;
    filter: brightness(0.9);
}

.fotoprogramasb:hover {
    transform: scale(1.15);
    transition: 1s;
    filter: brightness(0.9);
}

.video {
    display: flex;
    justify-content: space-around;
    margin: 15px;
    width: auto;
    height: auto;
    padding: 15px;
}

.tituloherramientas {
    color: #3b46d4;
    display: flex;
    justify-content: center;
    letter-spacing: 1px;
    font-weight: 900;
}

footer {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}